{% extends 'note/base.html' %}

{% block title %} Profile {% endblock title %}

{% block content %}   
    <section id="note" class="container"> 
        <div class="head">
            <h2>{{user.username}}'s Notes</h2>
            <p></p>
            <p>Username: {{user.username}}</p>
            <p>Email address: {{user.email}}</p>
            <p>Notes count: {{user.notes.count}}</p>
            
        </div>
        {% if request.user.is_authenticated %}
        <a class="btn" href="{% url 'delete' pk=user.id %}">Delete my account</a>
        {% endif %}
    </section>
{% endblock content %}
